<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="~/Content/JavaScript.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="navbar fixed-bottom">
        <a href="https://framtiden-se.web.intelliplan.eu">Konsultportalen</a>
    </footer>
</body>
</html>
